<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sungwon.ims.dao.SpecificationMapper">

    <select id="specificationData" resultType="SpecificationVO">
        SELECT sp.*, c.name as customer_name
        FROM specification sp
        INNER JOIN customer c
            ON sp.customer_idx = c.idx        
    </select>

</mapper>